* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.game-container {
    margin: 20px 0;
}

    .game-container select {
        background-color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
        padding: 5px 15px 5px 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

.container {
    margin-bottom: 30px;
}

.balls-called {
    background-color: #444451;
    text-align: center;
    font-size: 65px;
}

.last-ball-called {
    background-color: #444451;
    margin: 3px;
    text-align: center;
    font-size: 65px;
}

.letter {
    background-color: #444451;
    height: 75px;
    width: 75px;
    margin: 3px;
    text-align: center;
    font-size: 65px;
}

.number {
    background-color: #444451;
    height: 75px;
    width: 75px;
    margin: 3px;
    text-align: center;
    font-size: 65px;
}

    .number.selected {
        background-color: #6feaf6;
    }

    .number.called {
        background-color: #6feaf6;
    }

    .number:not(.called):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

.showcase .number:not(.called):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

    .showcase li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

        .showcase li small {
            margin-left: 2px;
        }

.row {
    display: flex;
}

p.text {
    margin: 5px 0;
}

    p.text span {
        color: #6feaf6;
    }
