* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.game-container {
    margin: auto;
}

    .game-container select {
        background-color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
        padding: 5px 15px 5px 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

.container {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.balls-called {
    background-color: #444451;
    text-align: center;
    margin: 3px;
}

.game-style {
    background-color: #444451;
    text-align: center;
    margin: 3px;
}

.jackpot-amount {
    background-color: #444451;
    text-align: center;
    margin: 3px;
}

.last-ball-called {
    background-color: #444451;
    margin: 3px;
    text-align: center;
}

.letter {
    background-color: #444451;
    height: 85px;
    width: 100px;
    margin: 3px;
    text-align: center;
    font-size: 65px;
}

.number {
    background-color: #444451;
    height: 85px;
    width: 100px;
    margin: 3px;
    text-align: center;
    font-size: 65px;
}

    .number.selected {
        background-color: #6feaf6;
        animation-name: fadeInOut;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }

    @keyframes fadeInOut {
        0% {background-color: #444451;}
        50% {background-color: #6feaf6;}
        100% {background-color: #444451;}
    }

.number.called {
    background-color: #418d94;
}

    .number:not(.called):hover {
        cursor: pointer;
        transform: scale(1.2);
    }


.row {
    display: flex;
}

p.text {
    margin: 5px 0;
}

    p.text span {
        color: #6feaf6;
        font-size: 200px;
    }
p.gameStyle {
    color: #6feaf6;
    font-size: 100px;
    margin: 5px 0
}

.bottom {
    width: 90%;
    margin: auto;

}

.card.left {
    float: left;
}

.card.right {
    float: right;
}

.newGameButton {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

.card {
    --bs-card-spacer-y: 0.25rem;
    --bs-card-spacer-x: 0.25rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-group-margin: 0.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
}
